/*
	template: Stefan's	
*/

* 	{
	margin: 0;
	padding: 0;
	float: none;
	}
#wrapper #logo h1 a	{
	font-family: "QuigleyWiggly";
	font-size: 144px;
	color: #C60;
					}					
#logo h1 a {
	color: #C60;
}
		#logo h1 a span { color: #808080; }		

#wrapper #logo h1 a.s {
	font-family: "Charlemagne Std";
	font-size: 100px;
	font-style: italic;	
	
}	
			
body{
	color: #7f7f7f;
	background-image: url(../images/providence946372shaded3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000;
	font-family: "Copperplate Gothic Bold";
	font-size: 8pt;
	}
h1 {
	font-family: "Palace Script MT";
	font-size: 144px;
	font-style: italic;
	font-weight: normal;
	font-variant: normal;
	color: #c60;
}
h2{
	font: normal 1.8em "Trebuchet MS", Helvetica, Arial;
	color: #7f7f7f;
	margin: 0 0 15px;
}
h3{ font: normal 1.4em "Trebuchet MS", Helvetica, Arial; margin: 0 0 20px; }
h4{ font: normal 1.2em "Trebuchet MS", Helvetica, Arial; color: #dfdfdf; margin: 0 0 4px; }
p{
	line-height: 1.6em;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	font-family: "Copperplate Gothic Bold";
	color: #fff;
}
a{ outline: 0; color: #304D6F; text-decoration: none; }
li { list-style: none; }
li a, img {
	display: block;
	vertical-align: middle;
}
img {
	outline: 0;
	border: 0;
}
#wrapper { width: 986px; margin: auto; }
.clr {
	clear: both;
	background-color: #000;
	background-image: url(../images/content_bg_bottom.jpg);
}
#logo {
	float: none;
	padding-top: 1px;
	padding-right: 15px;
	padding-bottom: 1px;
	padding-left: 15px;
	color: #FFF;
	height: 250px;
}
#home {
	font-family:"Copperplate Gothic Bold";
	color:#FFF;
	}			
	#home img {
		float:right;}
#menu { height: 44px; width: 600px; margin:auto; padding: 5px 0 0 4px; }
	#menu li {
	float: left;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: center;
}
		#menu li a {
	color: #C60;
	margin-right: 4px;
}
			#menu li a.current, #menu li a:hover {
	color: #C60;
}			
			#menu li a.border, #menu li a:hover {
	color: #FFF;
}
	
	#pitch {
	clear: both;
	height: 497px;
	width: 742px;
	margin-top: 0;	
	margin-bottom: 30px;
	margin-left: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-image: url(../images/events_bg.png);
	background-repeat: no-repeat;
}
		#pitch h1 { font-size: 2.4em; color: #304D6F; margin: 0 0 20px; }
		#pitch em { font-size: 1.3em; font-weight: bold; line-height: 1.6em; }
#buttonstop {
	height: 90px;
	padding-top: 25px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}
	#buttonstop li {
	float: left;
	font-size: 1.3em;
	text-transform: uppercase;
}
		#buttonstop li a {
	color: #C60;
	margin-top: 0;
	margin-right: 4px;
	margin-bottom: 0;
	margin-left: 0;
}
#buttonsbottom {
	height: 114px;
	background-image: url(../images/button_bg.jpg);
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
	background-position: right;
}
	#buttonsbottom li {
	float: left;
	font-size: 1.3em;
	text-transform: uppercase;
}
		#buttonsbottom li a {
	color: #C60;
	margin-top: 0;
	margin-right: 4px;
	margin-bottom: 0;
	margin-left: 0;
}
.content {
	padding: 20px;
	background-image: url(../images/content_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.link { background: #304D6F; color: #fff; padding: 5px 10px; font-size: .9em; }
#main { padding: 20px; background-image:url(../images/content_bg_bottom.jpg) }
.col { float: left; width: 292px; margin: 0 30px 15px 0; }
	.col.last { float: right; margin-right: 0; }
	.case img { float: left; clear: left; margin: 0 20px 20px 0; background: #121212; padding: 3px; }
	.short {
	padding: 0 0 15px 0;
	background-image: url(../images/line.gif);
	background-repeat: repeat;
	background-position: center center;
}
	.case a, .article a { color: #ddd; font-weight: bold; }
	.date { font-size: .84em; margin: 0 0 3px; }
#footer {
	background:none;
	text-align:center;
	clear: both;
	font-size: 10pt;
	font-family:"Copperplate Gothic Bold";
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	border-top-style: solid;
	border-top-color: #C60;
}
	#footer t {
	color: #c60;
	font-family: QuigleyWiggly;
	font-size: 24pt; }
	#footer p { 
		margin: 0 0 5px; 
		font-family:"Copperplate Gothic Bold";
		font-size: 8pt; }

#wrapper .content #pitch h1 {
	font-family: Verdana, Geneva, sans-serif;
}
#wrapper #header #logo h1 a {
	
}
